In [2]:
#Q1(1)
s = 'Delhi'

In [4]:
#Q1(2)
l = [2,6.9,True,'CAT',5]

In [6]:
#Q1(3)
n = 8.9

In [9]:
#Q1(4)
t = (True,'batman',4.2,8)

In [11]:
#Q2(1)
var1 = ' '
type(var1)

str

In [13]:
#Q2(2)
var2 = '[ DS , ML , Python]'
type(var2)

str

In [15]:
#Q2(3)
var3 = [ 'DS' , 'ML' , 'Python' ]
type(var3)

list

In [17]:
#Q2(4)
var4 = 1.
type(var4)

float

In [21]:
#Q3(1)
# / is used for normal division and is used to divide the first operand by the second one.
a = 20
b = 4
print(a/b)

5.0

In [22]:
#Q3(2)
# % operator is Modulus operator and is used to return the remainder when the first operand is divided by the second one.
a = 19
b = 4
print(a%b)

3

In [23]:
#Q3(3)
# // operator is used to return the floor value when the first operand is divided by the second one.
a = 19
b = 3
print(a//b)

6

In [24]:
#Q3(4)
# ** is used to get the result of the first operand raised to the power of the second.
a = 4
b = 3
print(a**b)

64

In [31]:
#Q4
L = [2,7,True,'Student',5.7,2j,'PW Skills',1,9j,False]
for i in L:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'bool'>
<class 'str'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'int'>
<class 'complex'>
<class 'bool'>

In [34]:
#Q5
A = 5280
B = 4
temp = A
count = 0

while A % B == 0:
    count += 1
    A = A / B

print(f"{temp} is divisible by {B} for {count} times")

5280 is divisible by 4 for 2 times

In [35]:
#Q6
L1 = [5,18,7,23,101,254,21,756,442,971,12,54,67,45,119,201,554,891,990,674,412,87,712,1002,5341]
for i in L1:
    if i%3==0:
        print(f"{i} is divisible by 3")
    else:
        print(f"{i} is not divisible by 3")

5 is not divisible by 3
18 is divisible by 3
7 is not divisible by 3
23 is not divisible by 3
101 is not divisible by 3
254 is not divisible by 3
21 is divisible by 3
756 is divisible by 3
442 is not divisible by 3
971 is not divisible by 3
12 is divisible by 3
54 is divisible by 3
67 is not divisible by 3
45 is divisible by 3
119 is not divisible by 3
201 is divisible by 3
554 is not divisible by 3
891 is divisible by 3
990 is divisible by 3
674 is not divisible by 3
412 is not divisible by 3
87 is divisible by 3
712 is not divisible by 3
1002 is divisible by 3
5341 is not divisible by 3

In [37]:
#Q7
'''In programming, mutable and immutable are terms used to describe the behavior of data types in relation to their 
   ability to be modified after creation.
   
   An immutable data type is one that cannot be changed once it is created. Any attempt to modify its value will result 
   in creating a new object with the modified value.Some of the immutable data types are Strings and Tuples.In many 
   programming languages, strings are immutable.Once a string is created, its value cannot be changed.Similarly,once a 
   tuple is created,its elements cannot be modified.
   
   On the other hand, mutable data types can be modified after creation. Changes made to the object will directly affect 
   the object itself, without creating a new object.Some of the immutable data types are Lists and Dictionaries.Lists are 
   a common mutable data type. Elements can be added,removed,or modified within a list.Dictionaries are also mutable and 
   allow modifications to their key-value pairs.'''

# Example of String as Immutable Data Type.
s = 'Class'
s_new = s.replace('C','G')
print(s)
print(s_new)

# Example of List as Mutable Data Type.
l2 = [2,5,7,10]
l2.append(19)
print(l2)
l2[1] = 45
print(l2)

Class
Glass
[2, 5, 7, 10, 19]
[2, 45, 7, 10, 19]